$primary: #333333;

@import "bootstrap/scss/bootstrap";

body {
  background-color: beige;
}

div #annotated {
  font-size: x-large;
  /*padding: 50px;*/
  line-height: 1.5em;
}

#annotated ruby {
  display: inline-block;
  width: 1.2em;
  text-align: center;
}

#annotated ruby:hover {
  color: darkred;
}

#annotated rt {
  display: block;
  width: 100%;
  font-size: small;
  text-align: center;
  opacity: 0;
  font-family: sans-serif;
  margin-top: 0.2em;
  margin-bottom: -0.2em;
}

#annotated rt.visible {
  opacity: 100%;
}

.chinese {
  font-family: "Kaiti SC", TH-Khaai-TP0, TH-Khaai-TP2, TH-Feon-A, 楷体, KaiTi, 楷体_GB2312, KaiTi_GB2312, FandolKai, 华文楷体, STKaiti, TH-Khaai-PP0, TH-Khaai-PP2, Kai, "Kaiti TC", BiauKai, "AR PL UKai CN", 標楷體, DFKai-SB, "AR PL UKai HK", "AR PL UKai TW", 全字庫正楷體, TW-Kai, EUDCKAI, cursive;
}

#chineseInput {
  font-size: large;
  width: 100%;
  field-sizing: content;
  min-height: 4rem; /* Optional: prevents default single-line height */
}

#topbar {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}
